.ab-container{
  width: 100%;
  height: 100vh;
}

.slider{
  width: 80%;
  max-width: 1000px;
  height: 500px;
}

.ab-col{
  position: relative;
}

.prev, .next{
  position: absolute;
  left: 47%;
  transform: translateX(-50%);
  width: 25px;
  height: 25px;
  background-color: lightgrey;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.prev{
  top: 2px;
}

.next{
  bottom: 2px;
}

.prev:hover, .next:hover{
  background-color: white;
}

.item{
  display: none;
}

.item.active{
  display: block;
}

.item img{
  width: 100%;
  height: 504px;
}

.col-2 .item-small img{
  width: 100%;
  height: 100px;
  object-fit: cover;
  filter: brightness(50%);
}

.active.active-img{
  filter: brightness(200%);
  box-sizing: border-box;
  border: 2px solid #dadad4;
}